# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_CHANNEL=sensors

# InfluxDB Configuration
INFLUXDB_HOST=influxdb
INFLUXDB_PORT=8086
INFLUXDB_ORG=DAQ
INFLUXDB_BUCKET=logger
INFLUXDB_TOKEN=8_qFm2VXj6ri_SVbdtzaVP7KiC1A45RMCCvEkLeGzwPUe8otW8N0bsjHoSHm6w3u3Jvg6vDcNJ193ris9VUa0w==
INFLUXDB_SAMPLES_TRIGGER=1000
INFLUXDB_TIME_TRIGGER=10

# Dashboard URLs
GRAFANA_URL=http://grafana:3000
INFLUXDB_URL=http://influxdb:8086
PORTAINER_URL=http://portainer:9000

# UI Configuration
UI_PORT=8081

# Docker Group (for Docker socket access)
DOCKER_GROUP_ID=991

# Portainer Authentication (optional)
PORTAINER_USER=admin
PORTAINER_PASSWORD= 